<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
</head>
<body>
	<% include ./partials/navbar %>
	<div class="wrapper">
		<div class="menu">
			<h1>Recipes</h1>
		</div>
		<div class="column_two" style="background-color: red">
			
		</div>
		<div class="column_three" style="background-color: orange">
			
		</div>
		<div class="column_four" style="background-color: green">
			
		</div>
		<div class="column_five" style="background-color: blue">
			
		</div>
        <% include ./partials/footer %>	
	</div> 
</body>
</html>