<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head %>
</head>
<body>
	<% include ./partials/navbar %>
	<div class="wrapper">
		<div class="menu">
			<h1>Recipes</h1>
			<button class="btn button_styles"><i class="fa fa-plus" aria-hidden="true"></i> Add a recipe</button>
		</div>
		<div class="inner_wrapper">
			<div class="card card_layout" style="width: 18rem;">
	            <div class="card-body">
	               <h5 class="card-title">Card title</h5>
	               <p class="card-text">Some quick example text to build on the card</p>
	               <hr>
	               <button class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true">Edit</i></button>
	               <button class="btn btn-danger"><i class="fa fa-times" aria-hidden="true">Delete</i></button>
	            </div>
	        </div>
	        <div class="card card_layout" style="width: 18rem;">
	            <div class="card-body">
	               <h5 class="card-title">Card title</h5>
	               <p class="card-text">Some quick example text to build on the card</p>
	               <hr>
	               <button class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true">Edit</i></button>
	               <button class="btn btn-danger"><i class="fa fa-times" aria-hidden="true">Delete</i></button>
	            </div>
	        </div>
	        <div class="card card_layout" style="width: 18rem;">
	            <div class="card-body">
	               <h5 class="card-title">Card title</h5>
	               <p class="card-text">Some quick example text to build on the card</p>
	               <hr>
	               <button class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true">Edit</i></button>
	               <button class="btn btn-danger"><i class="fa fa-times" aria-hidden="true">Delete</i></button>
	            </div>
	        </div>
	        <div class="card card_layout" style="width: 18rem;">
	            <div class="card-body">
	               <h5 class="card-title">Card title</h5>
	               <p class="card-text">Some quick example text to build on the card</p>
	               <hr>
	               <button class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true">Edit</i></button>
	               <button class="btn btn-danger"><i class="fa fa-times" aria-hidden="true">Delete</i></button>
	            </div>
	        </div>
		</div>
        <% include ./partials/footer %>	
	</div> 
</body>
</html>