.wrapper {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(5, 1fr);
	height: 100%;
}

html, body {
	height: 100%;
}

.menu {
	grid-column: 1/ 2;
	border-right: 2px solid black;
}

.column_two {
    grid-column: 2/3;
}

.column_three {
    grid-column: 3/4;
}

.column_four {
    grid-column: 4/5;
}

.column_five {
    grid-column: 5/6;
}



